
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.selector-for-some-widget { 
  box-sizing: content-box;
}
	.page {
		margin-left: 160px;
		margin-right: 160px;
		font-family: Arvo, sans-serif; 
	}

	.header_page { 
		margin-left: -50px;
	}
	.button_firstpage{
		font-family: Lato, sans-serif; 
		font-size: 24px; 
		text-decoration: none;
		color: rgba(0, 0, 0, 0.71);
		margin-left: -84px;
	}
	.button_firstpage:hover{
		color: #CC79EF;
		text-decoration: none;
	}
	.header__icon {
		cursor: pointer;
		margin-top: -3px;
		margin-left: 60px;
	}
	
	.menu {
		width: 0;
		height: 100vh;
		background: #B2FE28;
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		transition: all 0.3s ease-in-out;
		z-index: 10;
	}

	.menu.active {
		width: 982px;
	}
	.menu__container {
		overflow: auto;
	}
	.menu__close {
		display: none;
		padding-left: 610px;
		top:52px;
		transition: all 0.5s ease-in-out;
	}
	.menu__close.active {
		display: block;
		padding-left: 610px;
		top:52px;
		position: absolute;
		cursor: pointer;
	}
	.menu__list {
		display: flex;
		flex-direction: column;
		gap: 56px;
	}
	.menu__link {
		font-family: "Lato", sans-serif;
		font-weight: 400;
		font-size: 32px;
		line-height: 32px;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.71);
	}
	.menu__link:hover{
		color: #CC79EF;
		text-decoration: none;
	}

	.menu__wrapper {
		margin: 241px auto 0 141px;
	}

	.description { 
		display: flex; 
		justify-self: start;
		width: 625px;
		padding-left: 2px;
		margin-left: -14px;
	}
	
	.item_text { 
		font-family: "Lato", sans-serif;
		width: 626px;
		margin-left: -14px;
	}
	.item_text_bold { 
		display: flex;
		justify-content: start;
		align-items: center;
		font-size: 32px;
		font-weight: 600;
		line-height: 38px; 
	}
	.item_text_regular {
		display: flex;
		justify-content: start;
		align-items: center;
		font-size: 28px;
		font-weight: 400;
		padding-bottom: 36px;
		line-height: 34px; 
	}
	.map { 
		border-radius: 2em;
		overflow: hidden;
		transform: translate3d(0,0,0);
		box-shadow: -19px 20px 4px 0px rgba(0, 0, 0, 0.25);
		width: 778px;
		height: 630px;
		margin-left: -16px;
		margin-top: 294px;
	}
	
	.item5 { /*footer*/
		background: #B2FE28;
		justify-content: center;
		width: 1895px;
		margin-left: -160px;
		margin-right: -160px;
		height: 276px;
	}
	
	.button_container {
		display: flex;
		justify-content: flex-start; 
		align-items: center;
	}

	.button_tg, 
	.button_vk, 
	.button_disk,
	.button_disk_1 {
		width: 70px;
		height: 70px;
		transform: rotate(-0.064deg);
		flex-shrink: 0;
		border-radius: 70px;
		border: 5px solid #FFF;
		background: lightgray 50% / cover no-repeat;
		margin-right: 13px;
		box-shadow: -4px 6px 4px 0px rgba(0, 0, 0, 0.25);
		margin-right: 13px;
		margin-top: 46px;
		margin-bottom: 35px;
		transition: all 0.3s ease-in-out;
	}
	
	.button_tg {
	  background-image: url(../images/tg.png);
	}
	.button_vk {
	  background-image: url(../images/vk.png);
	}
	.button_disk {
	  background-image: url(../images/disk.png);
	}
	.button_disk_1 {
	  background-image: url(../images/disk0.png);
	}

	.button_tg:hover,
	.button_vk:hover,
	.button_disk:hover,
	.button_disk_1:hover
	{
		margin-top: -29px;
	}
	
	.footer_menu_container {
		display: flex;
		justify-content: flex-start; 
		align-items: center; 
		margin-left: 152px;
	}
	.footer_menu{
		font-family: "Lato", sans-serif;
		font-size: 24px;
		font-weight: 400;
		text-decoration-line: underline;
		margin-right: 44px;
		margin-bottom: 35px;
		transition: all 0.3s ease-in-out;
		color: rgba(0, 0, 0, 0.71);
	}
	.footer_menu:hover{
		color: #CC79EF;
		text-decoration: none;
	}
